.pills {

    &__container{
        height: 2.9rem;
        background-color: var(--green);
        cursor: pointer;
        padding: 0.5rem 2.3rem;
        font-size: 1.7rem;
        font-weight: 400;
        color: var(--white);
        border-radius: 2.0rem;

        &--active{
            background-color: var(--lightGray);
        }
    }
}